[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
networkx = "*"
numpy = "~=1.23.5"
pygad = "*"
scipy = "*"
h5py = "*"
pytest = "*"
matplotlib-inline = "*"
torch = "*"
tensorflow = "*"
dgl = "*"

[dev-packages]
ipykernel = "*"
hexalattice = "*"

[requires]
python_version = "3.8"
