[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
networkx = "*"
numpy = "~=1.23.5"
pygad = "*"
scipy = "*"
h5py = "*"
pytest = "*"
matplotlib-inline = "*"
hexalattice = {path = "./extra/hexalattice-master.zip"}
tf-agents = "*"
dgl = "*"
tensorflow = "*"
torch = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.8"
